

/*UP*/
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.10s;
  -o-transition: 0.10s;
  transition: 0.10s;
}
.gototop a i {
  background-color: #8585858f;
  padding: 15px;
  color: #00d0f5;
  text-decoration: none;
  border-radius: 7px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a i:hover{
text-decoration: none;
background-color: rgba(0, 117, 172, 0.658);
color: #fff;
}

/*UP END*/

/*LOADER*/

.loading{
  margin: 0 auto;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 9999;
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
  -webkit-animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
  -o-animation: fadeOut 1s;
  -o-animation-fill-mode: forwards;
  -moz-animation: fadeOut 1s;
  -moz-animation-fill-mode: forwards;

}

.main{
  margin: 15rem auto;
  display: flex;
  justify-content: center;
}

.dot{
  border: 5px solid #000;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
.dot2{
  border: 5px solid #03b2d1;
  border-radius: 50px;
  background-color: transparent;
  width: 100px;
  height: 100px;
  margin: -5px -5px;
  border-left-color: transparent;
  border-top-color: transparent;
  animation: loader 1s linear;
  animation-iteration-count: infinite;
  -moz-animation: loader 1s linear;
  -moz-animation-iteration-count: infinite;
  -o-animation: loader 1s linear;
  -o-animation-iteration-count: infinite;
  -webkit-animation: loader 1s linear;
  -webkit-animation-iteration-count: infinite;
}

@keyframes loader{
  100%{
    transform: rotate(360deg);
  }
}
@-moz-keyframes loader{
  100%{
    transform: rotate(360deg);
  }
}
@-o-keyframes loader{
  100%{
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader{
  100%{
    transform: rotate(360deg);
  }
}

@keyframes fadeOut{
  100%{
    visibility: hidden;
    opacity: 0;
  }
}
@-moz-keyframes fadeOut{
  100%{
    visibility: hidden;
    opacity: 0;
  }
}
@-o-keyframes fadeOut{
  100%{
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut{
  100%{
    visibility: hidden;
    opacity: 0;
  }
}

/*LOADER END*/


/*scroll*/

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 5px!important;
}
::-webkit-scrollbar-thumb{
  background-color: #049fbb!important;
  border-radius: 50px!important;
}
::-webkit-scrollbar-track{
  background-color: rgb(255, 255, 255);
}

/*scroll END*/


/*NAVBAR*/

.navbar{
  background-color: transparent!important;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
#nav.fixed{
  background-color: rgb(26, 26, 26)!important;
  padding: 0;
}
.navbar-nav{
  margin: 0 60rem auto;
}
.navbar-brand{
  font-size: 1.7rem;
  padding-left: 6rem;
}
.navbar-nav > li{
  font-size: 1.2rem;
  font-weight: 500;
  margin: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.nav-link{
  color: white!important;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.nav-link:hover{
  color: #0092ac!important;
}
.navbar-toggler{
  margin-right: 15px;

}

/*NAVBAR END*/





.container > h2{
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
}

.container > .row > .col-md-12{
  margin: 0;
}
.container .row > .buttonn{
padding: 0px;
}
.container > .row > .col{
  font-size: 18px;
}

.tbody{
  font-size: 15px;
  font-weight: 800;
}



/*RESPONSIVE*/

@media screen and (max-width: 1200px){
  html, body{
    overflow-x: hidden;
  }

.dot, .dot2{
  width: 70px;
  height: 70px;
}


  .navbar > .button{
    border: none!important;
  }
  .navbar > .button:focus{
    box-shadow: none!important;
    outline: none!important;
  }
  .navbar-brand{
    padding: 1rem;
    font-size: 1rem;
    width: 100px;
  }
  .change{
    background-color: #00859c!important;
  }
  .navbar-nav{
    margin: 0 6rem;
  }
  .navbar-nav > li{
    margin: 10px;
  }



  .container > h2{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
  }
  
  .container > .row > .col-md-12{
    margin: 0;
  }
  .container .row > .buttonn{
  padding: 0px;
  }
  .container > .row > .col{
    font-size: 18px;
  }
  
  .tbody{
    font-size: 10px;
    font-weight:normal;
  }


}


@media screen and (max-width: 1024px){
  html, body{
    overflow-x: hidden;
  }

.dot, .dot2{
  width: 70px;
  height: 70px;
}


  .navbar > .button{
    border: none!important;
  }
  .navbar > .button:focus{
    box-shadow: none!important;
    outline: none!important;
  }
  .navbar-brand{
    padding: 1rem;
    font-size: 1rem;
    width: 100px;
  }
  .change{
    background-color: #00859c!important;
  }
  .navbar-nav{
    margin: 0 6rem;
  }
  .navbar-nav > li{
    margin: 10px;
  }



  .container > h2{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
  }
  
  .container > .row > .col-md-12{
    margin: 0;
  }
  .container .row > .buttonn{
  padding: 0px;
  }
  .container > .row > .col{
    font-size: 18px;
  }
  
  .tbody{
    font-size: 10px;
    font-weight: 800;
  }


}



@media screen and (max-width: 976px){
  html, body{
    overflow-x: hidden;
  }

.dot, .dot2{
  width: 70px;
  height: 70px;
}


  .navbar > .button{
    border: none!important;
  }
  .navbar > .button:focus{
    box-shadow: none!important;
    outline: none!important;
  }
  .navbar-brand{
    padding: 1rem;
    font-size: 1rem;
    width: 100px;
  }
  .change{
    background-color: #00859c!important;
  }
  .navbar-nav{
    margin: 0 6rem;
  }
  .navbar-nav > li{
    margin: 10px;
  }



  .container > h2{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
  }
  
  .container > .row > .col-md-12{
    margin: 0;
  }
  .container .row > .buttonn{
  padding: 0px;
  }
  .container > .row > .col{
    font-size: 18px;
  }
  
  .tbody{
    font-size: 5px;
    font-weight: 700;
  }


}




@media screen and (max-width: 767px){
  html, body{
    overflow-x: hidden;
  }

.dot, .dot2{
  width: 70px;
  height: 70px;
}


  .navbar > .button{
    border: none!important;
  }
  .navbar > .button:focus{
    box-shadow: none!important;
    outline: none!important;
  }
  .navbar-brand{
    padding: 1rem;
    font-size: 1rem;
    width: 100px;
  }
  .change{
    background-color: #00859c!important;
  }
  .navbar-nav{
    margin: 0 16rem;
  }
  .navbar-nav > li{
    margin: 10px;
  }



  .container > h2{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
  }
  
  .container > .row > .col-md-12{
    margin: 0;
  }
  .container .row > .buttonn{
  padding: 16px;
  }
  .container > .row > .col{
    font-size: 15px;
  }
  
  .tbody{
    font-size: 5px;
    font-weight: 700;
  }


}




@media screen and (max-width: 501px){
  html, body{
    overflow-x: hidden;
  }

.dot, .dot2{
  width: 70px;
  height: 70px;
}


  .navbar > .button{
    border: none!important;
  }
  .navbar > .button:focus{
    box-shadow: none!important;
    outline: none!important;
  }
  .navbar-brand{
    padding: 1rem;
    font-size: 1rem;
    width: 100px;
  }
  .change{
    background-color: #00859c!important;
  }
  .navbar-nav{
    margin: 0 13rem;
  }
  .navbar-nav > li{
    margin: 10px;
  }



  .container > h2{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
  }
  
  .container > .row > .col-md-12{
    margin: 0;
  }
  .container .row > .buttonn{
  padding: 16px;
  }
  .container > .row > .col{
    font-size: 11px;
  }
  
  .tbody{
    font-size: 5px;
    font-weight: 700;
  }


}




@media screen and (max-width: 460px){
  html, body{
    overflow-x: hidden;
  }

.dot, .dot2{
  width: 70px;
  height: 70px;
}


  .navbar > .button{
    border: none!important;
  }
  .navbar > .button:focus{
    box-shadow: none!important;
    outline: none!important;
  }
  .navbar-brand{
    padding: 1rem;
    font-size: 1rem;
    width: 100px;
  }
  .change{
    background-color: #00859c!important;
  }
  .navbar-nav{
    margin: 0 10rem;
  }
  .navbar-nav > li{
    margin: 10px;
  }



  .container > h2{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
  }
  
  .container > .row > .col-md-12{
    margin: 0;
  }
  .container .row > .buttonn{
  padding: 16px;
  }
  .container > .row > .col{
    font-size: 9px;
  }
  
  .tbody{
    font-size: 5px;
    font-weight: 700;
  }


}




@media screen and (max-width: 400px){
  html, body{
    overflow-x: hidden;
  }

.dot, .dot2{
  width: 70px;
  height: 70px;
}


  .navbar > .button{
    border: none!important;
  }
  .navbar > .button:focus{
    box-shadow: none!important;
    outline: none!important;
  }
  .navbar-brand{
    padding: 1rem;
    font-size: 1rem;
    width: 100px;
  }
  .change{
    background-color: #00859c!important;
  }
  .navbar-nav{
    margin: 0 8rem;
  }
  .navbar-nav > li{
    margin: 10px;
  }



  .container > h2{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
  }
  
  .container > .row > .col-md-12{
    margin: 0;
  }
  .container .row > .buttonn{
  padding: 16px;
  }
  .container > .row > .col{
    font-size: 8px;
  }
  
  .tbody{
    font-size: 5px;
    font-weight: 700;
  }


}

@media screen and (max-width: 370px){
  html, body{
    overflow-x: hidden;
  }

.dot, .dot2{
  width: 70px;
  height: 70px;
}


  .navbar > .button{
    border: none!important;
  }
  .navbar > .button:focus{
    box-shadow: none!important;
    outline: none!important;
  }
  .navbar-brand{
    padding: 1rem;
    font-size: 1rem;
    width: 100px;
  }
  .change{
    background-color: #00859c!important;
  }
  .navbar-nav{
    margin: 0 6rem;
  }
  .navbar-nav > li{
    margin: 10px;
  }



  .container > h2{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
  }
  
  .container > .row > .col-md-12{
    margin: 0;
  }
  .container .row > .buttonn{
  padding: 16px;
  }
  .container > .row > .col{
    font-size: 8px;
  }
  
  .tbody{
    font-size: 5px;
    font-weight: 700;
  }


}

@media (min-width: 280px) and (max-width: 320px){
  html, body{
    overflow-x: hidden;
  }

.dot, .dot2{
  width: 70px;
  height: 70px;
}


  .navbar > .button{
    border: none!important;
  }
  .navbar > .button:focus{
    box-shadow: none!important;
    outline: none!important;
  }
  .navbar-brand{
    padding: 1rem;
    font-size: 1rem;
    width: 100px;
  }
  .change{
    background-color: #00859c!important;
  }
  .navbar-nav{
    margin: 0 7rem;
  }
  .navbar-nav > li{
    margin: 10px;
  }



  .container > h2{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
  }
  
  .container > .row > .col-md-12{
    margin: 0;
  }
  .container .row > .buttonn{
  padding: 16px;
  }
  .container > .row > .col{
    font-size: 6px;
  }
  
  .tbody{
    font-size: 5px;
    font-weight: 700;
  }


}



/*RESPONSIVE END*/